{% extends "MwebCoreBundle::layout.html.twig" %}



{% block title %}{{ actu.title }}{% endblock %}


{% block content %}
    {#{{ liip(page, 'paralax', paralax) }}#}
    <section id="section-page-title" class="paralax-wrap" {#style="background-image: url('{{ liip(actu, 'parallax','parallaxFile') }}')"#}>
        <div class="section-container">
            <div class="container-fluid" >
            <div class="block-title left">
                <h2>
                    <span class="main"><span class="line"></span>{{ actu.title }}</span>
                    <span class="back">News</span>
                </h2>

                <div class="breadcrumb">
                    <a href="{{ path('_homepage') }}" >{{ 'homepage'|trans }}</a> //
                    <a href="">{{ actu.title }}</a>
                </div>
            </div>

        </div>
    </section>


    <section class="content" >
        <div class="container-fluid">
            <div class="content-wrap">
                <div class="col-xs-12 col-sm-8">
                    {{ actu.content|raw }}
                </div>
                {#NEWS#}
                <div class="col-xs-12 col-sm-4">
                    {%  include 'MwebCoreBundle::sidebar.html.twig' %}
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </section>




{% endblock %}