<div class="col-xs-12 filters">
    {{ page.content|raw }}


    <p class="filter-wrap">
        <span>Filtrer les artistes par journée :</span>
        <button type="button" data-filter-day="04" class="filter day">Jeudi</button>
        <button type="button" data-filter-day="05" class="filter day">Vendredi</button>
        <button type="button" data-filter-day="06" class="filter day">Samedi</button>
    </p>
    <p class="filter-wrap">
        <span>Filtrer les artistes par genre : </span>
        <button type="button" data-filter-type="circ" class="circ filter type">Cirque</button>
        <button type="button" data-filter-type="rock" class="rock filter type">Rock</button>
        <button type="button" data-filter-type="electro" class="electro filter type">Electro</button>
        <button type="button" data-filter-type="dub" class="dub filter type">Dub</button>
    </p>
</div>
<div class="clear"></div>

{% for artist in artistList %}
    <div {{ artist.devAlias == "serious" ? 'data-allday="true"' : '' }} data-day="{{ artist.sessionDate|date("d") }}" data-type="{{ artist.type }}"
         class="col-xs-12 col-sm-6 col-md-4 col-lg-3 artist {{ artist.type }}">
        <a class="artist-illu" href="{{ path('circa_artist', {'slugArtist' : artist.slug}) }}"
           style="background-image: url('{{ liip(artist, 'news') }}')"></a>

        <a class="artist-text" href="{{ path('circa_artist', {'slugArtist' : artist.slug}) }}">
            <h3>{{ artist.title }}</h3>
            {% set date = 'date'~artist.sessionDate|date('d') %}
            <h4>{{ artist.subTitle }}</h4>
            <h4>[{{ date|trans }} - {{ artist.sessionDate|date('d') }}]</h4>

        </a>
    </div>
{% endfor %}
<div class="clear"></div>

