{% extends "MwebCoreBundle::layout.html.twig" %}



{% block title %}{{ page.title }}{% endblock %}


{% block content %}
    {#{{ liip(page, 'paralax', paralax) }}#}
    <section id="section-page-title" class="paralax-wrap"
             style="background-image: url('{{ liip(page, 'parallax','parallaxFile') }}')">
        <div class="section-container">
            <div class="container-fluid">
                <div class="block-title left">
                    <h2>
                        <span class="main"><span class="line"></span>{{ page.title|stripAccents }}</span>
                        <span class="back">{{ page.backTitle }}</span>
                    </h2>

                    <div class="breadcrumb">
                        <a href="{{ path('_homepage') }}">Accueil</a>&nbsp;&nbsp;&nbsp;$_&nbsp;&nbsp;&nbsp;
                        <a href="">{{ page.title }}</a>
                    </div>
                </div>

            </div>
    </section>


    <section class="content">
        <div class="container-fluid">
            <div class="content-wrap">
                {% if newsList is not empty %}
                    {% for actu in newsList %}
                        <div class="col-xs-12 news col-sm-4">
                            <img src="{{ liip(actu, 'news') }}" alt=""/>
                            <h3>{{ actu.startDate|date('d/m') }} - {{ actu.title }}</h3>
                            <p>{{ actu.summary }}</p>
                            <a href="{{ path('circa_news', {'slugNews': actu.slug}) }}" class="button">En savoir
                                plus</a>
                            <div class="clear"></div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-xs-12 col-sm-8">
                        {{ page.content|raw }}
                    </div>
                    {#NEWS#}
                    <div class="col-xs-12 col-sm-4">
                        {% include 'MwebCoreBundle::sidebar.html.twig' %}
                    </div>
                {% endif %}
                <div class="clear"></div>
            </div>

        </div>
    </section>




{% endblock %}