{% extends "MwebCoreBundle::layout.html.twig" %}



{% block title %}{{ page.title }}{% endblock %}


{% block content %}
    {#{{ liip(page, 'paralax', paralax) }}#}
    <section id="section-page-title" class="paralax-wrap"
             style="background-image: url('{{ liip(page, 'parallax','parallaxFile') }}')">
        <div class="section-container">
            <div class="container-fluid">
                <div class="block-title left">
                    <h2>
                        <span class="main"><span class="line"></span>{{ page.title|stripAccents }}</span>
                        <span class="back">{{ page.backTitle }}</span>
                    </h2>

                    <div class="breadcrumb">
                        $ /<a href="{{ path('_homepage') }}">Circa</a>&nbsp;&nbsp;/&nbsp;&nbsp;
                        <a href="">{{ page.title }}</a>
                    </div>
                </div>

            </div>
    </section>


    <section class="content">
        <div class="container-fluid">
            <div class="content-wrap">
                {% if newsList is not empty %}
                    {% for actu in newsList %}
                        <div class="col-xs-12 news col-sm-4">
                            <img src="{{ liip(actu, 'news') }}" alt=""/>
                            <h3>{{ actu.startDate|date('d/m') }} - {{ actu.title }}</h3>
                            <p>{{ actu.summary|raw }}</p>
                            <a href="{{ path('circa_news', {'slugNews': actu.slug}) }}" class="button">En savoir
                                plus</a>
                            <div class="clear"></div>
                        </div>
                    {% endfor %}
                {% elseif artistList is not empty %}
                    {%  include 'MwebCoreBundle::artistList.html.twig' %}
                {% else %}
                    <div class="col-xs-12 col-sm-8">
                        {{ page.content|raw }}
<br />
<br />
<br />
                        {% if page.devAlias == 'game' %}
                            {% if game.gameStatus == 0%}
                                {{ game.firstStep|raw }}
                            {% else %}
                                <p>Cette semaine le jeu a déjà été remporté par <strong>{{ game.winner.nickname }}</strong> mais tu peux jouer quand même peut être que tu gagneras un poney miniature en bambou ou une bar... ou pas</p>
                            {% endif %}
<br />
                            <br />
                            <a href="{{ path('circa_game') }}" class="button">Participer</a>
                        {% endif %}
                    </div>
                    {#NEWS#}
                    <div class="col-xs-12 col-sm-4">
                        {% include 'MwebCoreBundle::sidebar.html.twig' %}
                    </div>
                {% endif %}
                <div class="clear"></div>
            </div>

        </div>
    </section>




{% endblock %}