<p>Un nouveau message de contact a été posté sur myexpo, retrouver les informations ci-desosus:</p>
<ul>
    <li>Nom : {{ nom }}</li>
    <li>Institution : {{ institution }}</li>
    <li>Numéro tel : {{ tel }}</li>
    <li>Adresse postale : {{ addresse }}</li>
    <li>Objet : {{ objet|trans }}</li>
    <li>Message : {{ message }}</li>
</ul>
