{% if col is not defined %}
    <div class="col-xs-12">
        <h3>Dernières actualités</h3>

    </div>
    {% set col = 12 %}
{% endif %}
{% for actu in news %}
    <div class="col-sm-{{ col }} col-xs-12 news">
        <img src="{{ liip(actu, 'news') }}" alt=""/>
        <h3 style="margin-top: 10px;">{{ actu.title }}</h3>
        <p>{{ actu.summary|raw }}</p>
        {% if actu.devAlias == 'prog' %}
            <a href="{{ path('circa_prog') }}" class="button">En savoir plus</a>
        {% else %}
            <a href="{{ path('circa_news', {'slugNews': actu.slug}) }}" class="button">En savoir plus</a>
        {% endif %}
        <div class="clear"></div>
    </div>

{% endfor %}