
{% if col is not defined %}
    <div class="col-xs-12">
        <h3>Dernières actualités</h3>

    </div>
    {% set col = 12 %}
{% endif %}
{% for actu in news %}
    <div class="col-xs-{{ col }} news">
        <img src="{{ liip(actu, 'news') }}" alt=""/>
        <h3>{{ actu.startDate|date('d/m') }} - {{ actu.title }}</h3>
        <p>{{ actu.summary }}</p>
        <a href="{{ path('circa_news', {'slugNews': actu.slug}) }}" class="button">En savoir plus</a>
        <div class="clear"></div>
    </div>

{% endfor %}