{% extends "MwebCoreBundle::layout.html.twig" %}



{% block title %}{{ page.title }}{% endblock %}


{% block content %}
    {#{{ liip(page, 'paralax', paralax) }}#}
    <section id="section-page-title" class="paralax-wrap"
             style="background-image: url('{{ liip(page, 'parallax','parallaxFile') }}')">
        <div class="section-container">
            <div class="container-fluid">
                <div class="block-title left">
                    <h2>
                        <span class="main"><span class="line"></span>{{ page.title|stripAccents }}</span>
                        <span class="back">{{ page.backTitle }}</span>
                    </h2>

                    <div class="breadcrumb">
                        $ /<a href="{{ path('_homepage') }}">Circa</a>&nbsp;&nbsp;/&nbsp;&nbsp;
                        <a href="">{{ page.title }}</a>
                    </div>
                </div>

            </div>
    </section>


    <section class="content">
        <div class="container-fluid">
            <div class="content-wrap">

                <div class="col-xs-12 col-sm-8">

                    {% if win == "winGame" %}
                        <p>Tu as gagné, félicitations.<br />
                        On te contactera plus tard,<br /> tes coordonnées sont {{ gamer.nickname }}  / {{ gamer.email }} / {{ gamer.phone }}</p>
                    {% elseif win == "winTirage" %}
                        <p>Félicitations mousaillon! Tu as trouvé la bonne combinaison.<br />Malheureusement le jeu à déjà été remporté, mais si tu fais partie des 9 gagnants suivants on te paye un coup sur place, on te contactera le cas échéant</p>
                    {% else %}


                        {% if win == "lose" %}
                            <p class="highlight">Tu as perdu, essaye encore!</p>
                        {% endif %}
                        {% if gamer.winner %}
                            <p>Tu as déjà joué matelot reviens la semaine prochaine!! </p>

                        {% else %}
                            {{ game.thirdStep|raw }}
                            <div class="clear"></div>
                            <p>&nbsp;</p>

                            {{ form_start(form) }}
                            <div class="form-group">
                                <label>Code de décryptage : </label>
                                {{ form_widget(form.code, {"attr": {'class': 'form-control'}}) }}
                            </div>
                            {{ form_widget(form.submit, {"attr": {'class': 'button'}}) }}
                            {{ form_end(form) }}


                        {% endif %}
                    {% endif %}
                </div>
                {#NEWS#}
                <div class="col-xs-12 col-sm-4">
                    {% include 'MwebCoreBundle::sidebar.html.twig' %}
                </div>

                <div class="clear"></div>
            </div>

        </div>
    </section>




{% endblock %}



